{{! Calling RootView.getInstance().setView(view)
    will place a view where layout-element is called below. }}

<h1>{{greeting}}</h1>
{{layout-element}}

{{#on "incremented"}}{{i}}{{/on}}
{{#button trigger="incremented"}}Add again{{/button}}